.App {
    font-family: Arial, Helvetica, sans-serif;
}

.sim-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.sim-rowitem {
    flex: content;
    margin: 1rem;
}
