.relativePositioned {
    position: relative;
}

.absolutePositioned {
    position: absolute;
}

.topLeft {
    top: 0;
    left: 0;
}

.margin2px {
    margin: 2px;
}

.colorDebug {
    color: #3C3;
}
